* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    background-color: lightsalmon;
    display: flex;
    height: 150px;
    width: 100%;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    flex: auto;
    text-align: center;
}