* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    background-color: lightsalmon;
    display: flex;
    height: 200px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    /*flex: auto;*/
    text-align: center;
    padding: 10px;
    /*align-self: flex-end;*/ /*Faz apenas um elemento se alinhar em relação ao container pai*/
    /*flex-basis: 100px;*/
    flex: 0 1 100px; /*grow shrink flex-basis*/
}