@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    margin: 100px;
}

.caixa1 {
    background-color: rgb(255, 125, 125);
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2 {
    background-color: rgb(140, 255, 140);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.caixa3 {
    background-color: rgb(145, 145, 255);
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}