@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main.container {
    border: 3px solid blue;
    margin: 10px;
    display: grid;
    height: 250px;
    grid-template: repeat(3, auto) / repeat(3, auto);
    gap: 15px;

    /*alinhamento de items*/
    place-items: normal normal;

    /*alinhamento do conteudo inteiro*/
    place-content: space-evenly stretch;


}

div.item {
    border: 1px solid red;
}