@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main.container {
    border: 3px solid blue;
    margin: 10px;
    display: grid;
    height: 250px;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    /*alinhamento de items*/
    align-items: normal; /*vertical*/
    justify-items: normal; /*horizontal*/
    /*alinhamento do conteudo inteiro*/
    align-content: space-evenly;
    justify-content: stretch;
}

div.item {
    border: 1px solid red;
}