@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 1em;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 100px;
    background-color: rgb(165, 222, 255);
    /*background-repeat: no-repeat;
    background-size: contain;*/
}

@media screen and (orientation: portrait) {
    body {
        background-color: rgb(255, 193, 193);
        /*background: url("../../assets/imagens/cev-portrait.jpg");*/
    }
}

@media screen and (orientation: landscape) {
    body {
        background-color: rgb(202, 255, 202);
        /*background: url("../../assets/imagens/cev-landscape.jpg");
        background-position: left bottom;*/
    }
}

@media print {
    * {
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    menu {
        display: none;
    }
}