@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 1em;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 100px;
    background-color: rgb(165, 222, 255);
    /*background-repeat: no-repeat;
    background-size: contain;*/
}