@charset "UTF-8";

:root {
  --fundo-principal: white;
  --texto: black;
  --texto-inverso: white;
  --destaque: rgb(14, 42, 65);
  --destaque-inverso: rgb(163, 211, 255);
  --fundo-card: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--texto);
}