@charset "UTF-8";

:root {
  --fundo-principal: white;
  --texto: black;
  --texto-inverso: white;
  --destaque: rgb(14, 42, 65);
  --destaque-inverso: rgb(163, 211, 255);
  --fundo-card: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  padding: 12px 15px;
  /* border-radius: 6px; */
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: white;
  color: var(--destaque);
  border: 1px solid var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 5px;
  grid-column: 2;
  gap: 20px;
  margin-top: 20px;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  gap: 2em;
  margin-top: 15px;
}

div#social a {
  text-decoration: none;
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;

}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  color: var(--texto);
  font-weight: bold;
}

#skill-container .porcent {
  color: var(--destaque);
  font-weight: bold;
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

#skill-container .progresso {
  display: block;
  height: 100%;
  border-radius: 4px;
  background-color: var(--destaque);
}

@media screen and (min-width: 768px) {
  
  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

}