@charset "UTF-8";

:root {
    --cor-principal: #0e1e33;
    --cor-texto: white;
    --cor-sombra: rgba(0, 0, 0, 0.3);
    --altura-header: 100px;
    --padding-padrao: 15px;
    --gap-padrao: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 1em;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    padding: var(--padding-padrao);
    min-height: var(--altura-header);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 200px;
    text-shadow: var(--cor-sombra);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap-padrao);
    justify-content: flex-end;
}

header > nav > a {
    color: var(--cor-texto);
    text-decoration: none;
    cursor: pointer;
    padding: var(--padding-padrao);
    border: 1px solid white;
    text-align: center;
}

header > nav > a:hover {
    color: var(--cor-principal);
    background-color: white;
    border: 1ox solid var(--cor-principal);
    transition: background-color 0.5s ease;
}

main {
    padding: var(--padding-padrao);
}

@media screen and (max-width: 580px) {
    
    header, header > nav {
        flex-flow: column wrap;
    }

    header > h1 {
        flex-basis: 50px;
    }

    header > nav > a {
        width: 90vw;
    }

}