* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: white;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

article.journal-entry {
    display: flex;
    margin-bottom: 36px;
    justify-content: center;
    align-items: center;
}

article.journal-entry .main-image-container {
    margin-top: 150px;
}