* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: white;
    font-size: 1em;
    /*shorthand: font-style -> font-weight -> font-size -> font-family*/
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
}

article.journal-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    justify-content: center;
    align-items: center;
}

article.journal-entry .main-image-container {
    margin-top: 150px;
}

article.journal-entry .gradient {
    height: 100px;
    width: 100px;
    background-image: linear-gradient(-45deg, #3A3ABD, #F55A5A);
    margin-top: 70px;
    border-radius: 3px;
}

section.section {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}